@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.columns
{
  /* column-count: 4;
  column-width: 250px;*/
  columns: 4 250px;
  column-rule: 3px solid #333;
  column-gap: 3rem;

}

.columns p
{
  margin-top: 0px;
}

.columns h2
{
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid;
  /* break-before: column; //should avoid */
}

.columns .quote /*specificity problem*/
{
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
  margin-top: 2rem;
}

.nowrap 
{
  white-space: nowrap;
}