/*Lesson 7 Styling links*/

body
{
  padding: 10%;
  font-size: 2rem;  
  font-family:'roboto',sans-serif;
}

a 
{
  /* default
   text-decoration: none;
  cursor: pointer;
  color: blue; */
  color: black;

}

/*pseudo class
order matters due to specificity visited, hover, active
*/

a:visited
  {
    color: purple;

  }

a:hover, a:focus
{
  /* color: dodgerblue; */
  opacity: 0.7;
}

a:active
{
  color: red;
}