/*Absolute length units => px

percentages is always relative

relative length
rem => relative to the root(font size)
em => relative to parent (margin and padding)
ch => measurement of the font zero char
vw =>
vh =>

*/
/*header{
  width: 50%;
}*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1
{
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em;
}

main{
  width: 50vw;
  font-size: 2rem;
  background: skyblue;
}

body{
  min-height: 100vh;
  
}

p{
  font-size: 2rem;
  width: 40ch;
}